.lg-card {
  display: none;
  background: #ecf2fc;
  width: 18.125rem;
  height: 30rem;
  border-radius: 0.9375rem;
  padding: 0.625rem;
  overflow: hidden;
  overflow-y: auto;
  text-align: justify;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 99;
}
.lg-card .clave-circle {
  width: 4.375rem;
  height: 4.375rem;
  background-color: #0074A1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  padding: 0.625rem;
  margin-right: 0.75rem;
}
.lg-card .lg-card-title {
  font-size: 20px;
  color: #0074A1;
  margin-right: 0.8125rem;
  font-weight: bold;
}
.lg-card #close {
  margin-bottom: 4.0625rem;
  padding-left: 1.5625rem;
  padding-right: 0.6125rem;
}
.lg-card .lg-sub-title {
  font-weight: 800;
  color: #121F33;
}
.lg-card .lg-card-texts {
  margin: 5%;
  padding: 0.125rem 0.8125rem;
  text-align: left;
}
.lg-card::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome browsers */
}
#overlay {
  position: fixed;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: -1;
  /* Specify a stack order in case you're using a different order for other elements */
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-card-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5%;
  flex-direction: column;
}
.small-card-content .clave {
  font-size: 50px;
  padding: 10%;
}
.small-card-title {
  text-align: center;
  font-size: 18px;
  color: #121F33;
  font-weight: 700;
}
.text-sm-card {
  color: #121F33;
  padding: 0.625rem;
  text-align: left;
  line-height: 24px;
}
.text-sm-card .read-m {
  margin-left: 30%;
  color: #121F33;
  text-decoration: none;
  text-align: right;
  font-size: 13px;
  border-radius: 0.625rem;
  background-color: #77e2ee;
  border-color: rgba(76, 179, 191, 0.5);
  border-width: 0.125rem;
  padding: 0.1875rem;
}
.text-sm-card .read-more {
  /*margin-left:10%;
        margin-top: 5%;
        
        border-radius: 0.3125rem;
        background-color:fade(@button-background,80%);
        color:@white;
        font-size: 14px;
        width: fit-content;
        min-height: 1.875rem;
        border:10;*/
  margin-left: 30%;
  color: #121F33;
  text-decoration: none;
  text-align: right;
  font-size: 13px;
  border-radius: 0.625rem;
  background-color: #77e2ee;
  border-color: rgba(76, 179, 191, 0.5);
  border-width: 0.125rem;
  padding: 0.1875rem;
  min-height: 1.5625rem;
  cursor: pointer;
  z-index: 12;
}
